<h1>Add a Quote</h1>
<div style="display: flex; justify-content: space-around;">
  <div style="width: 100%;">
    <form style="display: flex; flex-direction: column; justify-content: space-between; align-items: flex-end;" #quoteForm="ngForm" (submit)="onSubmit(quoteForm)">
      <textarea style="width: 100%; box-sizing: border-box;" name="text" [(ngModel)]="newquote.text" #text="ngModel" rows="3" required></textarea>
      <span style="float: right;">
        Author
        <input type="text" name="author" [(ngModel)]="newquote.author" #author="ngModel" required>
      </span>
      <input style="float: right;" type="submit" value="Add Quote">
    </form>
  </div>
  <div style="width: 25%;">
    <span *ngIf="text.errors && text.dirty" style="color: red;">Quote is required.</span>
    <br>
    <span *ngIf="author.errors && author.dirty" style="color: red;">Author is required.</span>
  </div>
</div>
<h1>Quotes List</h1>
<div *ngFor="let inputquote of quotes">
  <app-quote-component [quote]="inputquote" (voteEmitter)="rateQuote($event)" (deleteEmitter)="deleteQuote($event)"></app-quote-component>
</div>